@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body{
    padding: 40px;
    color:#646464;
    background-color: #FAFAFA;
    font-size: 1.1em;

}


body, h1, h2, h3, h4, p{
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    letter-spacing: 0.04em;
}

h1{
    font-size: 300%;
    margin-bottom: 0;
}
h4{
    margin-top: 0;
}
p{
    margin-top:0;
    margin-bottom: 40px;
    line-height: 1.8em;
}
a {
    text-decoration: none;
    color:#646464;

}

hr{
    color: #DBDBDB;
background-color: #DBDBDB;
height: 1px;
    margin: 100px 0 ;
    border: 0;
}
nav{
    min-height: 80px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 80%;
}

nav a{
    margin-right: 20px;
    text-align: center;
}

.logo{
    font-size: 140%;
}
.selected{
    border-bottom: 1px solid #303030;
    padding-bottom: 3px;
    margin-bottom: 10px;
    color: #303030;
}

.align-right{
    float:right;
    margin-right: 0;
}

.inner-nav{
    float: right;
    width:50%;
    text-align: right;
    margin-top: 20px;
}
.inner-nav-element{
    margin-left: 20px;
}

.wreath-index{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wreath-thumb {
    object-fit: cover;
    width: 50%;
    flex-basis: 48%;
}

.wreath-thumb img{
    width:100%;
}

.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 20px;
}

.main-content{
    flex-basis: 36%;
    padding: 0 40px 0 100px;
}
.main-image{
   object-fit: cover;
   flex-basis: 50%;
}

.main-image img{
    width: 100%;
}

.details{

}

.details img{
    width: 100%;
}

.look-for{
    padding: 30px 0
}

.lb-outerContainer{
    border: 0;
}

.lb-data .lb-caption{
    font-weight: inherit;
    line-height: inherit;
}

@media only screen and (max-width: 500px) {

    body{
        padding: 10px;
    }

    nav{
        min-height: 40px;
    }

    nav a:first-child {
    display: none;
}
    .inner-nav{
        margin-bottom: 20px;
        padding: 0;
        margin-top: 0;
    }
    .wreath-thumb {
        width:100%;
        flex-basis: 100%;
        margin: 0;

    }
    .wreaths-nav-item{
        display: none;
    }

    .main-content{
        flex-basis: 100%;
        padding-left: 0;
    }
    .main-image{

       flex-basis: 100%;
    }

}
