<!doctype html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link href="{{ site.baseurl }}/assets/main.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/font-awesome.min.css" rel="stylesheet">


</head>

<body>
    {% assign current = page.url | downcase | split: '/' %}

    <nav>
        <a href='/' class='{% if current[1] == 'wreathes' %}selected {% endif %} wreaths-nav-item'>wreathes</a>
        <a href='/about' {% if current[1] == 'about' %}class='selected'{% endif %}>about</a>
        <a href="/" class="align-right logo">
            Wreathes by Magpie
        </a>

    </nav>

    <main>
        {{ content }}
    </main>

    <footer>

    </footer>
</body>

</html>
