<!doctype html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link href="{{ site.baseurl }}/assets/font-awesome.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/lightbox.min.css" rel="stylesheet">
    <script src="{{ site.baseurl }}/assets/lightbox-plus-jquery.min.js"></script>
    <link href="{{ site.baseurl }}/assets/main.css" rel="stylesheet">
    {% include head %}



</head>

<body>
    {% assign sorted_pages = site.pages | sort:"order" %}
    <nav>
        {% for node in sorted_pages %}
            {% if node.title %}
                {% if page.url == node.url %}
                    <a href="{{node.url}}" class="selected">{{node.title}}</a>
                {% else %}
                    <a href="{{node.url}}">{{node.title}}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
        <a href="/" class="align-right logo">
            Magpie
        </a>
    </nav>

    <main>
        {{ content }}
    </main>

    <footer>

    </footer>
    <script>
    lightbox.option({
      'resizeDuration': 100,
      'wrapAround': true,
      'showImageNumberLabel': false,
      'disableScrolling': true
    })
</script>
</body>

</html>
