---
layout: default
---


{% assign data_collection = site.collections | where: "label", "wreathes" | first %}

{% assign next_page = page.position | plus: 1%}
{% assign prev_page = page.position | minus: 1%}


{% for wreath in data_collection.docs %}
    {% if wreath.position == next_page %}
        <a href="{{ wreath.url }}">
            next: {{ wreath.position }}
        </a>
    {% endif %}
{% endfor %}


{% for wreath in data_collection.docs %}
    {% if wreath.position == prev_page %}
        <a href="{{ wreath.url }}">
            prev: {{ wreath.position }}
        </a>
    {% endif %}
{% endfor %}


<h1>{{ page.title }}</h1>
<p><em>{{ page.created_year }}</em></p>

<p>{{ page.description}}</p>

{% capture main_image %}{{ page.mainImage }}{% endcapture %}

{% include imageSizer content=main_image %}

{{ content }}
