---
layout: default
---

{% assign data_collection = site.collections | where: "label", "wreathes" | first %}

{% assign next_page = page.position | plus: 1%}
{% assign prev_page = page.position | minus: 1%}



<div class="main">


    <div class="main-image">
        {% capture main_image %}{{ page.mainImage }}-white.jpg{% endcapture %}
        <a
            href="/images/2048-wide/{{ main_image }}"
            data-lightbox="images"
            data-title="{{ page.title }}"
        >
            {% include imageSizer content=main_image %}
        </a>
    </div>
    <div class="inner-nav">
    {% for wreath in data_collection.docs %}
        {% if wreath.position == prev_page %}
            <a href="{{ wreath.url }}" class="inner-nav-element">
                <i class="fa fa-caret-left" aria-hidden="true"></i> prev
            </a>
        {% endif %}
    {% endfor %}


    {% for wreath in data_collection.docs %}
        {% if wreath.position == next_page %}
            <a href="{{ wreath.url }}"  class="inner-nav-element">
                next <i class="fa fa-caret-right" aria-hidden="true"></i>
            </a>
        {% endif %}
    {% endfor %}
    </div>

    <div class="main-content">
        <h1>{{ page.title }}</h1>
        <h3><em>{{ page.created_year }}, {{ page.size}}</em></h3>

        {{ content }}
        <p class="look-for"> Look for: {{ page.look_for }}</p>
    </div>


</div>
<div class="details">
    {% for detail in page.details %}
        <div class="detail">
            {% capture detail_image %}{{ detail.image}}{% endcapture %}
            <a
                href="/images/2048-wide/{{ detail_image }}"
                data-lightbox="images"
                data-title="{{ detail.caption }}"
            >
                {% include imageSizer content=detail_image %}
            </a>
            <p class="caption">{{ detail.caption}}</p>

        </div>
    {% endfor %}
</div>

<div class="inner-nav">
{% for wreath in data_collection.docs %}
    {% if wreath.position == prev_page %}
        <a href="{{ wreath.url }}" class="inner-nav-element">
            <i class="fa fa-caret-left" aria-hidden="true"></i> prev
        </a>
    {% endif %}
{% endfor %}


{% for wreath in data_collection.docs %}
    {% if wreath.position == next_page %}
        <a href="{{ wreath.url }}"  class="inner-nav-element">
            next <i class="fa fa-caret-right" aria-hidden="true"></i>
        </a>
    {% endif %}
{% endfor %}
</div>
